<!-- contact.ejs (p. 180) -->
<!-- @TODO: error.ejs -->
<main class="">
  <div class="container px-4 py-5 text-center mb-5">
    <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
    <h1 class="display-4">404</h1>
    <figure class="img-404">
      <img src="img/dribbble_404.gif" />
    </figure>
    <h2>Looks like you're lost.</h2>
    <p class="pt-3 pb-3 w-75 mx-auto">
      The page you are looking for was not found. But you can click the button
      below to go back to the homepage.
    </p>
    <a href="/" class="btn btn-outline-success btn-lg">Back to Home</a>
  </div>
</main>


    <!-- @TODO: partials/footer.ejs -->

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>

  <!--
    [노트] 레이아웃 파일은 방문하는 모든 페이지상에서 렌더링된다.
    한 번 < %- body % >의 전후로 HTML 콘텐츠를 추가해보라. 
    모든 페이지에 추가 내용이 반영될 것이다.
-->
</html>
