<!-- contact.ejs (p. 180) -->
<!-- @TODO: layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('parts/header'); %>
    <%- body; %> <!--모든 페이지에 있는 <main> 내용-->
    <%- include('parts/footer'); %>


<!-- @TODO: index.ejs -->


    <!-- @TODO: partials/footer.ejs -->
    

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>

  <!--
    [노트] 레이아웃 파일은 방문하는 모든 페이지상에서 렌더링된다.
    한 번 < %- body % >의 전후로 HTML 콘텐츠를 추가해보라. 
    모든 페이지에 추가 내용이 반영될 것이다.
-->
</html>


