
    
    
    <header class="header">
        <div class="container">
          <div class="container-left">
            <figure class="logo">
              <a href="/">
                <h1 class="site-title">🍔 Aaron's Node Site</h1>
              </a>
            </figure>
            
            <!-- @TODO: partials/navigation.ejs -->

            <!-- @TODO: 반응형 메뉴 버튼을 생성하십시오 -->
            <!-- 이것은 나중에 JavaScript에서 사용될 것이다 -->
  
            <%- include('nav'); %>

          </div>
        </div>
      </header>